/* A main section es a side nav magassaga */
* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

html {
  background: url("/images/pageBg.jpg") no-repeat;
  overflow-y: auto;
  background-position: 0% 28%;
  overflow-x: hidden;
}

@media screen and (max-width: 1260px) {
  html {
    background-position: 50% 51%;
  }
}

@media screen and (max-width: 640px) {
  html {
    background: none;
  }
}

body {
  font-family: 'Oswald';
}

.content::-webkit-scrollbar {
  width: 8px;
}

.content::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 6px rgba(173, 173, 173, 0.3);
          box-shadow: inset 0 0 6px rgba(173, 173, 173, 0.3);
}

.content::-webkit-scrollbar-thumb {
  background-color: white;
  outline: 1px solid #c4c5c5;
  border-radius: 5px;
}

.show {
  opacity: 1;
}

@media screen and (min-width: 1100px) {
  .onlySm {
    display: none;
  }
}

@media screen and (max-width: 1100px) {
  .onlyLg {
    display: none;
  }
}

.fade-enter-active, .fade-leave-active {
  -webkit-transition-property: opacity;
  transition-property: opacity;
  -webkit-transition-duration: .25s;
          transition-duration: .25s;
}

.fade-enter-active {
  -webkit-transition-delay: .25s;
          transition-delay: .25s;
}

.fade-enter, .fade-leave-active {
  opacity: 0;
}

.footer {
  height: 80px;
  background-color: #f7931d;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

@media screen and (max-width: 640px) {
  .footer {
    height: 50px;
  }
}

@media screen and (min-width: 1100px) {
  .footer {
    display: none;
  }
}
