/* A main section es a side nav magassaga */
footer {
  width: 100vw;
  background-color: #f7931d;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 5px;
}

@media screen and (max-width: 1099px) {
  footer {
    display: none;
  }
}
