header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  background-color: #231F20;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  height: 100px;
}

header img {
  display: inline-block;
  width: 158px;
  margin-right: 48px;
  margin-top: 17px;
  -webkit-transform: scale(1.4);
          transform: scale(1.4);
  height: 100px;
}

header .red {
  height: 19px;
  width: 95vw;
  background-color: #EC1A23;
  z-index: 33;
  margin-top: 50px;
  margin-left: -238px;
}

.navigation {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  border-radius: 20px;
  background-color: rgba(22, 68, 167, 0.8);
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 150px;
  margin: 31px 0px 0px 60px;
  z-index: 8;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
  padding: 5px 30px 50px 30px;
  -webkit-transition: all .5s ease-in-out;
  transition: all .5s ease-in-out;
}

@media screen and (min-width: 768px) {
  .navigation {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    background: none;
    margin: 0;
  }
}

.navigation a {
  display: inline-block;
  margin: 10px 30px 20px 30px;
  text-decoration: none;
  color: #e9e9e9;
  font-size: 19px;
  letter-spacing: 2px;
}

.navigation a:hover {
  border-bottom: 1px solid #fff;
  margin-bottom: 19px;
  color: #fff;
}

.menu-bar {
  display: none;
  width: 20px;
  height: 20px;
  position: absolute;
  top: 2rem;
  left: 2rem;
  z-index: 20;
  cursor: pointer;
  -webkit-transition: -webkit-transform .3s ease-out;
  transition: -webkit-transform .3s ease-out;
  transition: transform .3s ease-out;
  transition: transform .3s ease-out, -webkit-transform .3s ease-out;
  -webkit-animation: barUp 2s ease-out 1s;
          animation: barUp 2s ease-out 1s;
  -webkit-animation-fill-mode: backwards;
          animation-fill-mode: backwards;
}

.menu-bar::before {
  content: "";
  position: absolute;
  top: 8px;
  left: 0;
  width: 20px;
  height: 3px;
  background-color: #fff;
  -webkit-transition: all .3s ease-out;
  transition: all .3s ease-out;
}

.menu-bar--bar {
  position: absolute;
  top: 0px;
  left: 0;
  width: 20px;
  height: 3px;
  background-color: #fff;
  -webkit-transition: all .3s ease-out;
  transition: all .3s ease-out;
}

.menu-bar::after {
  content: "";
  position: absolute;
  top: 16px;
  left: 0;
  width: 20px;
  height: 3px;
  background-color: #fff;
  -webkit-transition: all .3s ease-out;
  transition: all .3s ease-out;
}

.menu-bar--close::before {
  -webkit-transform: rotate(-45deg);
          transform: rotate(-45deg);
  top: 5px;
  background-color: #fff;
}

.menu-bar--close .menu-bar--bar {
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
  top: 5px;
  background-color: #fff;
}

.menu-bar--close::after {
  opacity: 0;
}

* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body, html {
  overflow-y: hidden;
  font-family: 'Oswald';
}

.content::-webkit-scrollbar {
  width: 8px;
}

.content::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 6px rgba(173, 173, 173, 0.3);
          box-shadow: inset 0 0 6px rgba(173, 173, 173, 0.3);
}

.content::-webkit-scrollbar-thumb {
  background-color: white;
  outline: 1px solid #c4c5c5;
  border-radius: 5px;
}

.main_section {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100vw;
}

.show {
  opacity: 1;
}

.sidenav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 30%;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: #8b8b8b;
}

.sidenav div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100px;
  height: 100px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  text-align: center;
  background-color: #d32121;
  margin-bottom: 10px;
  border-radius: 50%;
}

.sidenav div:first-of-type {
  margin-top: 20px;
}

.sidenav div a {
  text-decoration: none;
  font-size: 19px;
  color: #eee;
}

.content {
  background-color: #3a3a3a;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 70%;
  height: 100vh;
  overflow-y: scroll !important;
  line-height: 1.5;
  color: #fff;
  font-size: 20px;
  z-index: 99;
}

.page h3 {
  margin: 10px auto;
  text-align: center;
  width: 50%;
  padding-bottom: 10px;
  border-bottom: 1px solid rgba(255, 255, 255, 0.616);
}

.page p {
  width: 70%;
  margin: 10px auto;
}
