/* A main section es a side nav magassaga */
header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  background-attachment: fixed;
  background-size: cover;
  background-position: 70% 50%;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  height: 99px;
  position: relative;
}

@media screen and (max-width: 1099px) {
  header {
    height: 90px;
  }
}

@media screen and (max-width: 640px) {
  header {
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    height: 90px;
  }
}

header img {
  display: inline-block;
  -ms-flex-item-align: start;
      align-self: flex-start;
  height: 100px;
  margin-top: 4px;
}

@media screen and (max-width: 1099px) {
  header img {
    margin-top: 0;
    position: absolute;
    top: 2px;
    right: 0;
  }
}

@media screen and (max-width: 640px) {
  header img {
    -webkit-clip-path: polygon(40% 0%, 100% 0, 100% 100%, 40% 100%);
            clip-path: polygon(40% 0%, 100% 0, 100% 100%, 40% 100%);
  }
}

header .topsoc {
  position: absolute;
  left: 115px;
}

@media screen and (max-height: 640px) and (min-width: 700px) {
  header .topsoc {
    left: 35px;
  }
}

header .topsoc a {
  background: none;
  font-size: 30px;
  color: #fff;
}

@media screen and (max-height: 640px) and (min-width: 700px) {
  header .topsoc a {
    margin: 30px 5px 10px 0px;
    font-size: 23px;
  }
}

header .topsoc a:hover {
  background: #222;
}
