/* A main section es a side nav magassaga */
#app {
  height: 100vh;
}

@media screen and (max-width: 640px) {
  #app {
    height: 100%;
    overflow-y: auto;
  }
}

.main_section {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100vw;
  height: calc(100vh - 180px);
}

@media screen and (max-width: 1099px) {
  .main_section {
    height: calc(100vh - 170px);
  }
}

@media screen and (max-width: 640px) {
  .main_section {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    height: calc(100vh - 145px);
  }
}

@media screen and (max-height: 640px) and (min-width: 700px) {
  .main_section {
    height: calc(100vh - 133px);
  }
}

.sidenav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 20%;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background: url("/images/welcome.JPG") no-repeat;
  background-size: cover;
  background-position: 33% 50%;
  background-color: rgba(0, 0, 0, 0.5);
  background-blend-mode: overlay;
  height: calc(100vh - 180px);
  border: 1px solid #fff;
  /*sidenav div end*/
}

@media screen and (max-width: 1099px) {
  .sidenav {
    background-size: cover;
    padding: 20px;
    height: calc(100vh - 170px);
  }
}

@media screen and (max-width: 640px) {
  .sidenav {
    background: url("/images/welcome.JPG") no-repeat;
    background-size: cover;
    background-position: 50% 55%;
    height: auto;
    padding: 5px;
    width: 100vw;
    z-index: 9;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    border: 1px solid #fff;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}

@media screen and (max-height: 640px) and (min-width: 700px) {
  .sidenav {
    background-position: 26% 50%;
    width: 22%;
  }
}

.sidenav div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  text-align: center;
  background-color: rgba(255, 255, 255, 0.5);
  margin-bottom: 15px;
  -webkit-transition: background .5s ease-in-out;
  transition: background .5s ease-in-out;
  margin: auto;
}

.sidenav div:first-of-type {
  margin-top: 20px;
}

@media screen and (max-width: 640px) {
  .sidenav div:first-of-type {
    width: 130px;
    margin-top: 0;
    margin-left: 20%;
    margin-right: 20%;
  }
}

.sidenav div:hover, .sidenav div:active {
  background-color: rgba(255, 255, 255, 0.85);
}

@media screen and (max-width: 1099px) {
  .sidenav div {
    margin-right: 10px;
    margin-left: 10px;
    min-height: 70px;
  }
}

@media screen and (max-width: 640px) {
  .sidenav div {
    min-height: 45px;
    margin-bottom: 10px;
  }
}

.sidenav div a {
  width: 180px;
  text-decoration: none;
  font-size: 19px;
  font-weight: normal;
  color: #313131;
  padding: 20px;
}

@media screen and (max-width: 640px) {
  .sidenav div a {
    font-weight: bold;
    width: 150px;
    padding: 10px 5px;
    font-size: 16px;
  }
}

@media screen and (max-width: 375px) {
  .sidenav div a {
    width: 130px;
    padding: 10px 1px;
    font-size: 14px;
  }
}

@media screen and (max-height: 640px) and (min-width: 700px) {
  .sidenav div a {
    font-size: 18px;
    padding: 8px;
  }
}

.content {
  background-attachment: fixed;
  background-size: cover;
  background-position: 70% 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 80%;
  height: auto;
  overflow-y: scroll !important;
  overflow-x: hidden;
  line-height: 1.5;
  color: #fff;
  font-size: 20px;
  z-index: 99;
}

@media screen and (max-width: 640px) {
  .content {
    width: 100vw;
    height: 100%;
  }
}
