.navigation_mobile {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  border-radius: 20px;
  background-color: #f7931d;
  border: 1px solid #fff;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: start;
  width: 80vw;
  margin: 45px 0px 0px 50px;
  z-index: 8;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
  padding: 20px 20px 20px 55px;
  -webkit-transition: all .5s ease-in-out;
  transition: all .5s ease-in-out;
  z-index: 999;
}

@media screen and (max-width: 640px) {
  .navigation_mobile {
    padding: 20px 20px 20px 25%;
  }
}

.navigation_mobile a {
  text-decoration: none;
  color: #e9e9e9;
  font-size: 19px;
  font-weight: bold;
  letter-spacing: 2px;
  margin-bottom: 15px;
}

.navigation {
  /* @include tablet {
        display: none;
    } */
}

@media screen and (min-width: 1366px) {
  .navigation {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    margin: 0;
    width: 100%;
    padding-left: 20vw;
  }
}

@media screen and (max-width: 1366px) {
  .navigation {
    display: none;
  }
}

.navigation a {
  display: inline-block;
  margin: 30px 25px 10px 3px;
  text-decoration: none;
  background-color: #e9e9e9;
  color: #222;
  font-size: 25px;
  letter-spacing: 2px;
  padding: 0 6px 2px 6px;
  -webkit-transition: all .4s ease-in-out;
  transition: all .4s ease-in-out;
  /* @include mobile {
        margin: 20px 25px 10px 0px;
        font-size: 19px;
      } */
}

.navigation a:hover {
  margin-bottom: 19px;
  color: #222;
  background-color: #eee;
}

.menu-bar {
  display: none;
  width: 20px;
  height: 20px;
  position: absolute;
  top: 49px;
  left: 25px;
  z-index: 20;
  cursor: pointer;
  -webkit-transition: -webkit-transform .3s ease-out;
  transition: -webkit-transform .3s ease-out;
  transition: transform .3s ease-out;
  transition: transform .3s ease-out, -webkit-transform .3s ease-out;
  -webkit-animation: barUp 2s ease-out 1s;
          animation: barUp 2s ease-out 1s;
  -webkit-animation-fill-mode: backwards;
          animation-fill-mode: backwards;
}

@media screen and (max-width: 1365px) {
  .menu-bar {
    display: block;
    top: 37px;
  }
}

.menu-bar::before {
  content: "";
  position: absolute;
  top: 8px;
  left: 0;
  width: 20px;
  height: 3px;
  background-color: #fff;
  -webkit-transition: all .3s ease-out;
  transition: all .3s ease-out;
}

.menu-bar--bar {
  position: absolute;
  top: 0px;
  left: 0;
  width: 20px;
  height: 3px;
  background-color: #fff;
  -webkit-transition: all .3s ease-out;
  transition: all .3s ease-out;
}

.menu-bar::after {
  content: "";
  position: absolute;
  top: 16px;
  left: 0;
  width: 20px;
  height: 3px;
  background-color: #fff;
  -webkit-transition: all .3s ease-out;
  transition: all .3s ease-out;
}

.menu-bar--close::before {
  -webkit-transform: rotate(-45deg);
          transform: rotate(-45deg);
  top: 5px;
  background-color: #fff;
}

.menu-bar--close .menu-bar--bar {
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
  top: 5px;
  background-color: #fff;
}

.menu-bar--close::after {
  opacity: 0;
}
