/* A main section es a side nav magassaga */
.page {
  width: 100%;
}

.page h3 {
  margin: 10px auto;
  color: #f7931d;
  text-align: center;
  min-width: 300px;
  width: 50%;
  padding-bottom: 10px;
  border-bottom: 1px dotted #f7931d;
}

.page p {
  width: 100%;
  margin: 1px auto;
  text-align: center;
  font-size: 25px;
}

@media screen and (max-width: 1099px) {
  .page p {
    font-size: 21px;
  }
}

@media screen and (max-width: 640px) {
  .page p {
    font-size: 19px;
  }
}

.page .welcomePic {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.page hr {
  width: 50%;
  margin: 0 auto;
}

@media screen and (max-width: 1099px) {
  .page hr {
    width: 80%;
  }
}

.page .contact {
  text-decoration: none !important;
}

.page .contact h4 {
  font-size: 30px;
  margin-top: -140px;
  margin-bottom: 10px;
  text-align: center;
}

@media screen and (max-height: 640px) and (min-width: 700px) {
  .page .contact h4 {
    font-size: 25px;
    margin-top: -110px;
  }
}

@media screen and (max-width: 1099px) {
  .page .contact h4 {
    color: #9e1e62;
    margin-top: -80px;
    font-size: 18px;
  }
}

@media screen and (min-width: 1100px) {
  .page .contactImg {
    width: 50% !important;
    margin: 0 auto;
    display: block;
  }
}

.page .aromak {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

@media screen and (max-width: 1099px) {
  .page .aromak {
    padding-left: 25%;
    padding-right: 25%;
  }
}

@media screen and (max-width: 400px) {
  .page .aromak {
    padding-left: 10%;
  }
}

.page .aromak .aroma {
  width: 450px;
  margin: 50px;
  display: inline-block;
  z-index: 2;
}

@media screen and (max-height: 640px) and (min-width: 700px) {
  .page .aromak .aroma {
    width: 245px;
    margin: 25px;
  }
}

@media screen and (max-width: 1099px) {
  .page .aromak .aroma {
    width: 300px;
  }
}

@media screen and (max-width: 640px) {
  .page .aromak .aroma {
    width: 100%;
    -webkit-transform: scale(1.4);
            transform: scale(1.4);
  }
}

.page .aromak div {
  position: relative;
}

.page .aromak .circle {
  display: inline-block;
  width: 240px;
  height: 240px;
  background-color: #fff;
  border-radius: 50%;
  position: absolute;
  top: 90px;
  left: 76px;
  z-index: -1;
}

@media screen and (max-height: 640px) and (min-width: 700px) {
  .page .aromak .circle {
    width: 165px;
    height: 165px;
    top: 25px;
    left: 25px;
  }
}

@media screen and (max-width: 1099px) {
  .page .aromak .circle {
    top: 75px;
    left: 65px;
    width: 165px;
    height: 165px;
    background-color: #fff;
    border-radius: 50%;
    z-index: -1;
  }
}

@media screen and (max-width: 640px) {
  .page .aromak .circle {
    top: 50px;
    left: 28px;
    width: 155px;
    height: 155px;
  }
}

.page .aromak .circle.teakor {
  width: 290px;
  height: 290px;
  top: 100px;
  left: 55px;
}

@media screen and (max-height: 640px) and (min-width: 700px) {
  .page .aromak .circle.teakor {
    width: 165px;
    height: 165px;
    top: 45px;
    left: 25px;
  }
}

@media screen and (max-width: 1099px) {
  .page .aromak .circle.teakor {
    top: 80px;
    left: 50px;
    width: 200px;
    height: 200px;
  }
}

@media screen and (max-width: 640px) {
  .page .aromak .circle.teakor {
    top: 75px;
    left: 20px;
    width: 190px;
    height: 190px;
  }
}

.rolunk {
  width: 70%;
  margin: 0 auto;
}

.rolunk h3 {
  min-width: 220px;
}
