.slidesec {
  border-bottom: 5px solid #fff;
}

.baracksec {
  position: relative;
  padding-top: 80px;
}

.baracksec .cetli {
  position: absolute;
  top: 0;
  left: 0;
}

.lime {
  position: relative;
}

.lime .cetli {
  position: absolute;
  top: 70px;
  right: -10px;
  width: 50%;
}
