/* A main section es a side nav magassaga */
.baracksec {
  position: relative;
  padding-top: 80px;
}

.baracksec .cetli {
  position: absolute;
  top: 0;
  left: 0;
}

.lime {
  position: relative;
  height: auto;
  margin-top: -80px;
}

.lime .cetli {
  position: absolute;
  top: 70px;
  right: -10px;
  width: 45%;
}

.korte {
  position: relative;
  margin-top: -60px;
  padding-bottom: 45px;
}

.korte .cetli {
  position: absolute;
  top: -45px;
  left: 10px;
  width: 35%;
}

.korte .osszetett {
  margin-top: -80px;
  margin-left: -30px;
  width: 114%;
}

.shop {
  position: relative;
}

.shop .cetli {
  position: absolute;
  top: -75px;
  left: 5px;
}

.shop .utolsokep {
  margin-bottom: -55px;
}

.totop {
  background: #4a4ad8;
  float: right;
  margin-right: 20px;
  font-size: 30px;
  color: #fff;
  padding: 0 14px 3px 10px;
  -webkit-clip-path: polygon(25% 10%, 100% 10%, 75% 90%, 0 90%);
          clip-path: polygon(25% 10%, 100% 10%, 75% 90%, 0 90%);
}

.onlyLg {
  position: relative;
}

.onlyLg .felsojobb {
  position: absolute;
  top: 0px;
  right: 0;
}

@media screen and (min-width: 1100px) and (max-width: 1800px) {
  .onlyLg .felsojobb {
    top: -30px;
  }
}

.onlyLg .felsoKozep {
  margin-top: 67px;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

@media screen and (min-width: 1100px) and (max-width: 1270px) {
  .onlyLg .felsoKozep {
    margin-top: 0px;
  }
}

.onlyLg .kozephosszu {
  margin-top: -300px;
  width: 100%;
}

@media screen and (min-width: 1100px) and (max-width: 1270px) {
  .onlyLg .kozephosszu {
    margin-top: -170px;
  }
}

@media screen and (min-width: 1280px) and (max-height: 800px) {
  .onlyLg .kozephosszu {
    margin-top: -210px;
  }
}

.onlyLg .balfelso {
  position: absolute;
  top: 10px;
  left: 0;
}

@media screen and (min-width: 1101px) and (max-width: 1800px) {
  .onlyLg .balfelso {
    top: -60px !important;
  }
}

@media screen and (min-width: 1300px) and (max-width: 1400px) {
  .onlyLg .balfelso {
    top: 5px;
  }
}

.onlyLg .cetli {
  position: absolute;
  top: -50px;
  left: 0;
  width: 48%;
}

.onlyLg .cetli2 {
  position: absolute;
  top: 855px;
  left: 0;
}

@media screen and (min-width: 1100px) and (max-width: 1300px) {
  .onlyLg .cetli2 {
    top: 520px;
  }
}

@media screen and (min-width: 1301px) and (max-width: 1800px) {
  .onlyLg .cetli2 {
    top: 565px;
  }
}

.onlyLg .cetli3 {
  position: absolute;
  top: 1170px;
  left: 295px;
}

@media screen and (min-width: 1100px) and (max-width: 1300px) {
  .onlyLg .cetli3 {
    width: 20%;
    top: 790px;
    left: 215px;
  }
}

@media screen and (min-width: 1299px) and (max-width: 1800px) {
  .onlyLg .cetli3 {
    top: 850px;
    left: 230px;
    width: 20%;
  }
}

.onlyLg .alsoPic {
  margin-top: -160px;
  margin-bottom: -40px;
}

@media screen and (min-width: 1100px) and (max-width: 1270px) {
  .onlyLg .alsoPic {
    margin-top: -100px;
  }
}

.onlyLg .cetli4 {
  margin-top: -590px;
  width: 57%;
}

@media screen and (min-width: 1100px) and (max-width: 1270px) {
  .onlyLg .cetli4 {
    width: 45%;
    margin-bottom: 20px;
    margin-left: 100px;
  }
}

.onlyLg .totop {
  position: absolute;
  bottom: 0;
  right: 0;
}
