.slidesec {
  border-bottom: 5px solid #fff;
}

.baracksec {
  position: relative;
  padding-top: 80px;
}

.baracksec .cetli {
  position: absolute;
  top: 0;
  left: 0;
}

.lime {
  position: relative;
  height: auto;
}

.lime .cetli {
  position: absolute;
  top: 70px;
  right: -10px;
  width: 50%;
}

.korte {
  position: relative;
}

.korte .cetli {
  position: absolute;
  top: -100px;
  left: 0px;
  width: 35%;
}

.korte div > img {
  margin-left: 15px;
}

.shop {
  position: relative;
}

.shop .bolttabla {
  position: absolute;
  bottom: 0;
  right: 0;
}
