.vueperslides {
  padding: 20px 0px;
}

.vueperslides .vueperslide {
  background-size: contain;
  background-repeat: no-repeat;
}

.vueperslides .vueperslide .vueperslides__arrow {
  font-size: 15px;
}

.vueperslides .vueperslides__bullets {
  display: none;
}
