@import 'mixin.scss';

footer {
    @include tablet {
        display: none;
    }
    width: 100vw;
    background-color: rgb(247, 147, 29); 
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    padding: 5px;
}
