@import 'mixin.scss';

footer {
    //height: 81px;
    width: 100vw;
    background-color: rgb(247, 147, 29); 
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    padding: 5px;
    //padding-bottom: 1px;
   
    p {
        //padding-top: 10px;
    }
    @include mobile {
        //max-height: 55px;
        //width: max-content;
    }
    @include heightFix {
        //height: 55px;
    }

}
.navbar.navbar--hidden {
    // box-shadow: none;
    // transform: translate3d(0, -100%, 0);
    display: none;
  }