header {
    display: flex;
    background-color: #231F20;
    justify-content: space-between;
    height: 100px;
    img {
    display: inline-block;
    width: 158px;
    margin-right: 48px;
    margin-top: 17px;
    transform: scale(1.4);
    height: 100px;
    }
    .red {
      height: 19px;
    width: 95vw;
    background-color: #EC1A23;
    z-index: 33;
    margin-top: 50px;
    margin-left: -238px;
    }
}
.navigation {
    display: flex;
    flex-direction: column;
    border-radius: 20px;
    background-color: rgba(22, 68, 167, 0.8);
    align-items: center;
    width: 150px;
     margin: 31px 0px 0px 60px;
    z-index: 8; 
    height: fit-content;
    padding: 5px 30px 50px 30px;
    transition: all .5s ease-in-out;
    @media screen and (min-width:768px){
        flex-direction: row;
        background: none;
        margin: 0;
    }
    a {
      display: inline-block;
      margin: 10px 30px 20px 30px;
      text-decoration: none;
      color: rgb(233, 233, 233);
      font-size: 19px;
      letter-spacing: 2px;
      &:hover {
        border-bottom: 1px solid #fff;
        margin-bottom: 19px;
        color: #fff;
      }
    }
}
.menu-bar {
    display: none;
    width: 20px;
    height: 20px;
    position: absolute;
    top: 2rem;
    left: 2rem;
    z-index: 20;
    cursor: pointer;
    transition: transform .3s ease-out;
    animation: barUp 2s ease-out 1s;
    animation-fill-mode: backwards;
     
&:hover {

}
    
    &::before {
        content: "";
        position: absolute;
        top:8px;
        left:0;
        width: 20px;
        height: 3px;
        background-color: #fff;
        transition: all .3s ease-out;
        
    }
    &--bar{
        
        position: absolute;
        top:0px;
        left:0;
        width: 20px;
        height: 3px;
        background-color: #fff;
        transition: all .3s ease-out;
}
        
        &::after {
        content: "";
        position: absolute;
        top:16px;
        left:0;
        width: 20px;
        height: 3px;
        background-color: #fff;
            transition: all .3s ease-out;
        }
        
    
&--close {
    &::before {
        
            transform: rotate(-45deg);
            top: 5px;
            background-color: #fff;
        }
    .menu-bar--bar {
        
        transform: rotate(45deg);
        top: 5px;
        background-color: #fff;
    }
    &::after {
            opacity: 0;
        }
    
}

}
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  body, html {
    overflow-y:hidden;
    font-family: 'Oswald';
  }
  .content::-webkit-scrollbar {
  width: 8px;
  }
  
  .content::-webkit-scrollbar-track {
    box-shadow: inset 0 0 6px rgba(173, 173, 173, 0.3);
  }
 
.content::-webkit-scrollbar-thumb {
  background-color: rgb(255, 255, 255);
  outline: 1px solid rgb(196, 197, 197);
  border-radius: 5px;
  
}
  .main_section {
    display: flex;
    width: 100vw;
    
  }
   .show {
      opacity: 1;
    }
  .sidenav {
    display: flex;
    flex-direction: column;
    width: 30%;
    align-items: center;
    background-color: rgb(139, 139, 139);
    div {
      &:first-of-type {
        margin-top: 20px;
      }
      display: flex;
      width: 100px;
      height: 100px;
      align-items: center;
      justify-content: center;
      text-align: center;
      background-color: #d32121;
      margin-bottom: 10px;
      border-radius: 50%;
      a {
        text-decoration: none;
        font-size: 19px;
        color: #eee;
      }
    }
  }
  .content {
    background-color: rgb(58, 58, 58);
    display: flex;
    width: 70%;
    height: 100vh;
    overflow-y: scroll !important;
    line-height: 1.5;
    color: #fff;
    font-size: 20px;
    z-index: 99;
  }
  .page {
    h3 {
      margin: 10px auto;
      text-align: center;
      width: 50%;
      padding-bottom: 10px;
      border-bottom: 1px solid rgba(255, 255, 255, 0.616)
    }
    p {
      width: 70%;
      margin: 10px auto;
    }
  }
  