@import 'mixin.scss';
header {
    display: flex;
    background: url('/images/pageBg.jpg') no-repeat;
    background-attachment: fixed;
    background-size: cover;
    background-position: 70% 50%;
    justify-content: space-between;
    height: 99px;
    border-bottom: 1px solid #fff;
    position: relative;
    @include tablet {
      height: 90px;
      
    }
    @include mobile {
      height: 90px;
    }
    img {
    display: inline-block;
    align-self: flex-start;
    height: 100px;
    @include tablet {
      position: absolute;
      top: 2px;
      right: 0;
    }
    @include mobile {
      /* position: relative;
      top: 8px;
    right: 86px;
    height: 100%; */
      clip-path: polygon(40% 0%, 100% 0, 100% 100%, 40% 100%);
    }
    }
}



  
  