header {
    display: flex;
    background-color: #231F20;
    justify-content: space-between;
    height: 100px;
    img {
    display: inline-block;
    width: 158px;
    margin-right: 48px;
    margin-top: 17px;
    transform: scale(1.4);
    height: 100px;
    }
    .red {
      height: 19px;
    width: 95vw;
    background-color: #EC1A23;
    z-index: 33;
    margin-top: 50px;
    margin-left: -238px;
    }
}



  
  