@import 'mixin.scss';
#app {
    height: 100vh;
    @include mobile {
     height: 100%;
     overflow-y: auto;
    }
}

.main_section {
    display: flex;
    width: 100vw;
    height: calc(100vh - 133px);
    @include tablet {
      height: calc(100vh - 124px);
    }
    
    @include heightFix {
      height: calc(100vh - 124px);
    }
    @include mobile {
      flex-direction: column;
      height: calc(100vh - 124px);
      
    }
  }
    
  .sidenav {
    display: flex;
    flex-direction: column;
    width: 20%;
    align-items: center;
    background: url('/images/cetlimenu.png') no-repeat;
    background-size: 115% 90%;
    height: calc(100vh - 180px);
    @include tablet {
      background-size: cover;
      padding: 20px;
      height: calc(100vh - 170px);
      width: 30%;
    }
    @include mobile {
      background: url('/images/welcome.JPG') no-repeat;
      background-size: cover;
      background-position: 50% 55%;
      height: auto;
      padding: 5px;
      width: 100vw;
      z-index: 9;
      flex-direction: row;
      border: 1px solid #fff;
      flex-wrap: wrap;
      justify-content: center;
    }
    @media screen and (min-width:510px) and (max-width:840px) {
      height: 55%;
    }
    @media screen and (min-width:700px) and (max-width:1800px){ 
      background-size: 115% 100%;
    }
    div {
      &:first-of-type {
        margin-top: 150px;
        @media screen and (min-width:1100px) and (max-width:1600px) {
        margin-top: 85px;
        }
        @include mobile {
          width: 130px;
          margin-top: 0;
          margin-left: 20%;
          margin-right: 20%;
        }
      }
      display: flex;
      align-items: center;
      justify-content: center;
      text-align: center;
      background-color: rgba(255, 255, 255, 0.5);
      margin-bottom: 60px;
      margin-left: 20px;
      transition: background .5s ease-in-out;
      //margin: auto;
      &:hover, &:active {
        background-color: rgba(255, 255, 255, 0.85);
      }
      @media screen and (min-width:1100px) and (max-width:1600px) {
        margin-bottom: 20px;
        margin-left: 20px;
      }
      @include tablet {
        margin-right: 10px;
        margin-left: 10px;
      }
      @include mobile {
        min-height: 45px;
        margin-bottom: 10px;
      }
       
      a {
        width: auto;
        text-decoration: none;
        font-size: 22px;
        font-weight: bold;
        color: rgb(49, 49, 49);
        padding: 8px;
        @include mobile {
          font-weight: bold;
          width: 150px;
          padding: 10px 5px;
          font-size: 16px;
        }
        @media screen and (max-width: 375px) {
          width: 130px;
          padding: 10px 1px;
          font-size: 14px;
        }
        @include heightFix {
        width: auto;
        font-weight: bold;
        font-size: 18px;
        padding: 8px;
        
        }
      }
      
    } /*sidenav div end*/
    @include mobile {
      
    }
  }
  .content {
    background: url('/images/pageBg.jpg') no-repeat;
    background-attachment: fixed;
    background-size: cover;
    background-position: 70% 50%;
    display: flex;
    width: 80%;
    height: auto;
    overflow-y: scroll !important;
    overflow-x: hidden;
    line-height: 1.5;
    color: #fff;
    font-size: 20px;
    z-index: 99;
    @include tablet {
      width: 70%;
    }
    @include mobile {
      width: 100vw;
      height: 100%;
    }
  }
  