@import 'mixin.scss';
#app {
    height: 100vh;
    @include mobile {
     height: 100%;
     overflow: auto;
    }
}

.main_section {
    display: flex;
    width: 100vw;
    height: calc(100vh - 180px);
    @include tablet {
      height: calc(100vh - 170px);
    }
    @include mobile {
      flex-direction: column;
      height: calc(100vh - 145px);
      
    }
  }
   
  .sidenav {
    display: flex;
    flex-direction: column;
    width: 30%;
    align-items: center;
    background: url('/images/welcome.JPG') no-repeat;
    background-size: cover;
    background-position: 70% 50%;
    background-color: rgba(0, 0, 0, 0.5);
    background-blend-mode: overlay;
    height: calc(100vh - 180px);
    @include tablet {
      background-size: cover;
      padding: 20px;
      height: calc(100vh - 170px);
    }
    @include mobile {
      background: url('/images/welcome.JPG') no-repeat;
      // background-color: rgba(0, 0, 0, 0.5);
      // background-blend-mode: overlay;
      background-size: cover;
      background-position: 50% 55%;
      height: auto;
      padding: 5px;
      width: 100vw;
      z-index: 9;
      flex-direction: row;
      border: 1px solid #fff;
      flex-wrap: wrap;
      justify-content: center;
    }
    div {
      &:first-of-type {
        margin-top: 20px;
         
        @include mobile {
          width: 130px;
          margin-top: 0;
          margin-left: 20%;
          margin-right: 20%;
        }
      }
      display: flex;
      align-items: center;
      justify-content: center;
      text-align: center;
      background-color: rgba(255, 255, 255, 0.6);
      margin-bottom: 15px;
      transition: background .5s ease-in-out;
      &:hover, &:active {
        background-color: rgba(255, 255, 255, 0.85);
      }

      @include tablet {
        margin-right: 10px;
        margin-left: 10px;
        min-height: 70px;
      }
      @include mobile {
        min-height: 45px;
        margin-bottom: 10px;
      }

      a {
        width: 180px;
        //width: 120px;
        text-decoration: none;
        font-size: 19px;
        font-weight: bold;
        color: rgb(49, 49, 49);
        padding: 20px;
        @include mobile {
          width: 150px;
          //width: auto;
          padding: 10px 5px;
          font-size: 16px;
          //letter-spacing: 1px;
        }
        @media screen and (max-width: 375px) {
          width: 130px;
          padding: 10px 1px;
          font-size: 14px;
          //letter-spacing: 0;
        }
      }
      
    } /*sidenav div end*/
    @include mobile {
      
    }
  }
  .content {
    background: url('/images/pageBg.jpg') no-repeat;
    background-attachment: fixed;
    background-size: cover;
    background-position: 70% 50%;
    display: flex;
    width: 70%;
    height: auto;
    overflow-y: scroll !important;
    overflow-x: hidden;
    line-height: 1.5;
    color: #fff;
    font-size: 20px;
    z-index: 99;
    @include mobile {
      width: 100vw;
      height: auto;
      //min-height: 285px;
    }
  }
  