@import 'mixin.scss';
#app {
    height: 100vh;
    @include mobile {
     height: auto;
     overflow: auto;
    }
}

.main_section {
    display: flex;
    width: 100vw;
    height: calc(100vh - 180px);
    @include mobile {
      flex-direction: column;
      height: calc(100vh - 150px);
    }
  }
   
  .sidenav {
    display: flex;
    flex-direction: column;
    width: 30%;
    align-items: center;
    background: url('/images/tea-bg.jpg') no-repeat;
    background-size: 100% 100%;
    background-color: rgba(0, 0, 0, 0.5);
    background-blend-mode: overlay;
    height: calc(100vh - 180px);
    @include tablet {
      background-size: cover;
      padding: 20px;
    }
    @include mobile {
      height: 30vh;
      padding: 5px ;
      width: 100vw;
      z-index: 9;
      flex-direction: row;
      border: 1px solid #fff;
      flex-wrap: wrap;
      justify-content: center;
    }
    div {
      &:first-of-type {
        margin-top: 20px;
        @include mobile {
          margin-top: 0;
        }
      }
      display: flex;
      align-items: center;
      justify-content: center;
      text-align: center;
      background-color: rgba(35, 23, 141, 0.6);
      margin-bottom: 15px;
      a {
        width: 200px;
        text-decoration: none;
        font-size: 19px;
        color: #eee;
        padding: 20px;
        @include mobile {
          width: auto;
          padding: 10px;
          font-size: 16px;
          letter-spacing: 1px;
        }
      }
      @include tablet {
        margin-right: 10px;
        margin-left: 10px;
        min-height: 80px;
      }
      @include mobile {
        min-height: 55px;
      }
    } /*sidenav div end*/
    @include mobile {
      
    }
  }
  .content {
    background-color: rgb(58, 58, 58);
    display: flex;
    width: 70%;
    height: 100%;
    overflow-y: scroll !important;
    line-height: 1.5;
    color: #fff;
    font-size: 20px;
    z-index: 99;
    @include mobile {
      width: 100vw;
    }
  }
  .page {
    width: 100%;
    h3 {
      margin: 10px auto;
      text-align: center;
      min-width: 300px;
      width: 50%;
      padding-bottom: 10px;
      border-bottom: 1px solid rgba(255, 255, 255, 0.616)
    }
    p {
      width: 70%;
      margin: 10px auto;
      margin-top: 20px;
    }
    
  
  }