@import 'mixin.scss';
.navigation_mobile {
    display: flex;
    flex-direction: column;
    border-radius: 20px;
    background-color: rgba(22, 68, 167, 0.95);
    border: 1px solid #fff;
    align-items: center;
    width: 80vw;
    margin: 45px 0px 0px 50px;
    z-index: 8; 
    height: fit-content;
    padding: 20px 30px 50px 30px;
    transition: all .5s ease-in-out;
    z-index: 999;
    a {
      text-decoration: none;
      color: rgb(233, 233, 233);
      font-size: 19px;
      letter-spacing: 2px;
      margin-bottom: 15px;
    }
}
.navigation {
    @include desktop {
        flex-direction: row;
        margin: 0;
        width: 100%;
    }
    @include tablet {
        display: none;
    }
    a {
      display: inline-block;
      margin: 20px 20px 10px 10px;
      text-decoration: none;
      color: rgb(233, 233, 233);
      font-size: 19px;
      letter-spacing: 2px;
      &:hover {
        border-bottom: 1px solid #fff;
        margin-bottom: 19px;
        color: #fff;
      }
    }
}

.menu-bar {
    display: none;
    width: 20px;
    height: 20px;
    position: absolute;
    top: 49px;
    left: 25px;
    z-index: 20;
    cursor: pointer;
    transition: transform .3s ease-out;
    animation: barUp 2s ease-out 1s;
    animation-fill-mode: backwards;
     @include tablet {
         display: block;
     }
    &:hover {

    }
    &::before {
        content: "";
        position: absolute;
        top:8px;
        left:0;
        width: 20px;
        height: 3px;
        background-color: #fff;
        transition: all .3s ease-out;
    }
    &--bar{
        position: absolute;
        top:0px;
        left:0;
        width: 20px;
        height: 3px;
        background-color: #fff;
        transition: all .3s ease-out;
    }
        &::after {
        content: "";
        position: absolute;
        top:16px;
        left:0;
        width: 20px;
        height: 3px;
        background-color: #fff;
        transition: all .3s ease-out;
        }
    &--close {
    &::before {
            transform: rotate(-45deg);
            top: 5px;
            background-color: #fff;
        }
    .menu-bar--bar {
        transform: rotate(45deg);
        top: 5px;
        background-color: #fff;
    }
    &::after {
            opacity: 0;
        }
    }
}