@import 'mixin.scss';
.navigation_mobile {
    display: flex;
    flex-direction: column;
    border-radius: 20px;
    background-color: rgb(247, 147, 29); 
    border: 1px solid #fff;
    align-items: start;
    width: 80vw;
    margin: 45px 0px 0px 50px;
    z-index: 8; 
    height: fit-content;
    padding: 20px 20px 20px 55px;
    transition: all .5s ease-in-out;
    z-index: 999;
    @include mobile {
        padding: 20px 20px 20px 25%;
    }
    a {
      text-decoration: none;
      color: rgb(233, 233, 233);
      font-size: 19px;
      font-weight: bold;
      letter-spacing: 2px;
      margin-bottom: 15px;
    }
}
.navigation {
    @include desktop {
        flex-direction: row;
        margin: 0;
        width: 100%;
        padding-left: 20vw;
    }
    @include heightFix {
        margin-top: 5px;
    }
    /* @media screen and(max-width: 1366px) {
        display: none;
    } */
     @include tablet {
        display: none;
    }
    a {
      display: inline-block;
      margin: 30px 25px 10px 3px;
      text-decoration: none;
      background-color: rgb(233, 233, 233);
      color: #222;
      font-size: 25px;
      letter-spacing: 2px;
      padding: 0 6px 2px 6px;
      transition: all .4s ease-in-out;
      @media screen and (min-width:1165px) and (max-width:1200px) {
        margin: 30px 5px 10px 3px;
        font-size: 22px;
      }
      @include heightFix {
        font-size: 18px;
      }
      &:hover, &:active {
        margin-bottom: 19px;
        color: rgb(233, 233, 233);
        background-color: rgb(59, 59, 59);
      }
    } 
}
  
.menu-bar {
    display: none;
    width: 20px;
    height: 20px;
    position: absolute;
    top: 49px;
    left: 25px;
    z-index: 20;
    cursor: pointer;
    transition: transform .3s ease-out;
    animation: barUp 2s ease-out 1s;
    animation-fill-mode: backwards;
     @include tablet {
         display: block;
         top: 37px;
     }
    &:hover {

    }
    &::before {
        content: "";
        position: absolute;
        top:8px;
        left:0;
        width: 20px;
        height: 3px;
        background-color: #fff;
        transition: all .3s ease-out;
    }
    &--bar{
        position: absolute;
        top:0px;
        left:0;
        width: 20px;
        height: 3px;
        background-color: #fff;
        transition: all .3s ease-out;
    }
        &::after {
        content: "";
        position: absolute;
        top:16px;
        left:0;
        width: 20px;
        height: 3px;
        background-color: #fff;
        transition: all .3s ease-out;
        }
    &--close {
    &::before {
            transform: rotate(-45deg);
            top: 5px;
            background-color: #fff;
        }
    .menu-bar--bar {
        transform: rotate(45deg);
        top: 5px;
        background-color: #fff;
    }
    &::after {
            opacity: 0;
        }
    }
}
