@import 'mixin.scss';

.page {
    width: 100%;
   //scroll-behavior: smooth !important; 

    h3 {
      margin: 10px auto;
      color: rgb(247, 147, 29);
      text-align: center;
      min-width: 300px;
      width: 50%;
      padding-bottom: 10px;
      border-bottom: 1px dotted rgb(247, 147, 29);
      font-size: 27px;
    }
    p {
      width: 100%;
      margin: 1px auto;
      text-align: center;
      font-size: 25px;
      @include tablet {

        font-size: 21px;
      }
      @include heightFix {
        font-size: 22px;
      }
      @include mobile {
        font-size: 19px;
      }
    }
    .welcomePic {
      display: flex;
      justify-content: center;
      align-items: center;
      
    }
    .menupic {
      width: 70%;
      margin-top: -60px;
    }
    hr {
      width: 50%;
      margin: 0 auto;
      @include tablet {
        width: 80%;
      }
    }
    .contact {
      text-decoration: none !important;
      h4 {
        font-size: 30px;
        margin-top: -140px;
        margin-bottom: 10px;
        text-align: center;
        @include heightFix {
          font-size: 23px;
          margin-top: -100px;
        }
        @include tablet {
        color: rgb(158,30,98);
        margin-top: -80px;
        font-size: 18px;
      }
    }
    
  }
  .contactImg {
    @include desktop {
    width: 55% !important;
    margin: 0 auto;
    display: block;
    }
    @include tablet {
      //width: 100%;
    }
  }
  .aromak {
    display: inline-flex;
    flex-wrap: wrap;
    justify-content: center;
    @include tablet {
      padding-left: 25%;
      padding-right: 25%;
    }
    @media screen and (max-width:400px) {
      padding-left: 10%;
    }
  .aroma {
      width: 450px;
      margin: 50px;
      display: inline-block;
      z-index: 2;
      @include heightFix {
        transform: scale(1.2);
        width: 245px;
        margin: 25px;
      }
    @include tablet {
      width: 300px;
    }
    @include mobile {
      width: 100%;
      transform: scale(1.4);
    }
     
  }
  
  div {
    position: relative;
  }
  .circle {
     display: inline-block;
     width: 240px;
     height: 240px;
     background-color: #fff;
     border-radius: 50%;
     position: absolute;
     top: 90px;
     left: 76px;
     z-index: -1;
     @include heightFix {
      width: 165px;
      height: 165px;
      top: 25px;
      left: 20px;
     }
     @include tablet {
      top: 75px;
      left: 65px;
      width: 165px;
      height: 165px;
      background-color: #fff;
      border-radius: 50%;
      z-index: -1;
     }
     @include mobile {
      top: 50px;
    left: 29px;
    width: 165px;
    height: 165px;
     }
    }
    .circle.teakor {
      width: 290px;
      height: 290px;
      top: 100px;
      left: 55px;
      @include heightFix {
        width: 165px;
        height: 165px;
        top: 45px;
        left: 25px;
       }
      @include tablet {
        top: 80px;
        left: 50px;
        width: 200px;
        height: 200px;
      }
      @include mobile {
        top: 75px;
    left: 20px;
    width: 190px;
    height: 190px;
       }
    }
  }
   br {
     @media screen and (min-width:1100px) {
       display: none;
     }
   }
  }
  .rolunk {
    width: 70%;
    margin: 0 auto;
    h3 {
      min-width: 220px;
    }
  }
  .teak {
    .aroma {
      @include heightFix {
      transform: scale(1) !important;
      }
    }
  }