.slidesec {
}
.baracksec {
    position: relative;
    padding-top: 80px;
    .cetli {
        position: absolute;
        top: 0;
        left: 0;
    }
    .tea {
        
    }
}

.lime {
    position: relative;
    height: auto;
    margin-top: -80px;
    .cetli {
        position: absolute;
        top: 70px;
        right: -10px;
        width: 45%;
    }

}
.korte {
    position: relative;
    margin-top: -60px;
    padding-bottom: 45px;
        .cetli {
        position: absolute;
        top: -45px;
        left: 10px;
        width: 35%;
    }
   .osszetett {
    margin-top: -80px;
    margin-left: -30px;
    width: 114%;
   }
}
.shop {
    position: relative;
    .cetli {
        position: absolute;
        top: -75px;
        left: 5px;
    }
   
    .utolsokep {
        margin-bottom: -55px;
    }
}
.totop {
    background: rgb(74, 74, 216);
    float: right;
    margin-right: 20px;
    font-size: 30px;
    color: #fff;
    padding: 0 14px 3px 10px;
    clip-path: polygon(25% 10%, 100% 10%, 75% 90%, 0 90%);


}
.onlyLg {
    position: relative;
    .cetli {
    position: absolute;
    top: 0;
    right: 70px;
    }
    .cetli2 {
        position: absolute;
        top: 750px;
        right: 0;
    }
    .cetli3 {
        position: absolute;
        top: 1685px;
        right: 430px;
    }
    .alsoPic {
        margin-top: -215px;
        margin-bottom: -40px;
    }
    .cetli4 {
        margin-top: -590px;
        width: 67%;
    }
}