.slidesec {
    border-bottom: 5px solid #fff;
}
.baracksec {
    position: relative;
    padding-top: 80px;
    .cetli {
        position: absolute;
        top: 0;
        left: 0;
    }
    .tea {
        
    }
}