.vueperslides {
    padding: 20px 0px;

    .vueperslide {
        background-size: contain;
        background-repeat: no-repeat;

        .vueperslides__arrow {
            font-size: 15px;
        }
        
    }
    .vueperslides__bullets {
        display: none;
    }
}